:root {
  --main-font: roboto;
  --main-color: #2e2f42;
  --secondary-color: #f4f4fd;
  --third-color: #434455;
  --accent-color: #4d5ae5;
  --text-btn-color: #ffffff;
  --active-color: #404bbf;
}
/* ============= COMMON STYLES ============= */
.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: var(--main-font), sans-serif;
  color: var(--main-color);
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.logotype {
  color: var(--main-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logotype .logotype-text-blue {
  color: var(--accent-color);
}

.menu-item > a {
  font-weight: 500;
  color: var(--main-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--active-color);
}

.e-mail,
.tel {
  font-style: normal;
  color: var(--third-color);
}

.hero {
  background: var(--main-color);
}

.hero-title {
  color: var(--text-btn-color);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}

.hero-button {
  background: var(--accent-color);
  color: var(--text-btn-color);
  font-weight: 500;
  letter-spacing: 0.64px;
}

.hero-button:hover,
.hero-button:focus {
  background: var(--active-color);
}

.section-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.benefits-list-title,
.team-name,
.card-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.benefits-list-text,
.team-position,
.card-referral {
  color: var(--third-color);
}

.team {
  background: var(--secondary-color);
}

.page-footer {
  background: var(--main-color);
}

.footer-text {
  color: var(--secondary-color);
}

.page-footer .logotype {
  color: var(--secondary-color);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.filters-button {
  background: var(--secondary-color);
  color: var(--accent-color);
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.64px;
}

.filters-button:hover,
.filters-button:focus {
  background: var(--active-color);
  color: var(--text-btn-color);
}
